@charset "utf-8";

/* header 相关的 css 文件 */
.header_top {
    height: 34px;
    line-height: 34px;
    color: #b5b5b5;
    padding: 0 18px;
    overflow: hidden;
    zoom: 1;
}

.header_top .header_top_l {
    float: left;
}

.header_top .header_top_r {
    float: right;
}

/*---------------------------------------*/